.nav {
    ul {
        height: 15vh;
        display: flex;
        align-items:center;
        justify-content: center;
        li {
            height: 35px;
            width: 35px;
            display:flex;
            justify-content:center;
            img {
                height: 80%;
                width: 100%;
            }
        }
    }
}
.exhibitions-grid-container{
    height:65vh;
    display:grid;
    grid-template-rows: 33.3% 33.3% 33.3%;
    div{
        position:relative;
    }
    div:nth-of-type(1){
        img{
            height:60px;
            position:absolute;
            top:20%;
            right:10%;
        }
    }
    div:nth-of-type(2){
        img{
            height:75px;
            position:absolute;
            top:20%;
            left:20%;
        }
    }
    div:nth-of-type(3){
        img{
            height:75px;
            position:absolute;
            top:20%;
            right:20%;
        }
    }
}
