.home-grid-container {
    height: 100vh;
    display: grid;
    grid-template-rows: 22.5vh 22.5vh 22.5vh 22.5vh 10vh;
    div {
        position: relative;
        img.painting {
            position: absolute;
            top: 70%;
            left: 25%;
            @include mq(0, 512px) {
                left:20%;
            }   
        }
        img.bio {
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translateY(-50%);
            @include mq(0, 512px) {
                height: 30px;
            }
        }
        img.exhibitions {
            position: absolute;
            right: 30%;
            @include mq(0, 512px) {
                height:98px;
                right:15%;
            }
        }
        img.ceramics {
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translateY(-50%);
            @include mq(0, 512px) {
                height:190px;
                left:5%;
                top:30%;
            }
        }
        a {
            font-size: 18px;
            i {
                height: 100%;
                display: flex;
                justify-content: center;
/*                 align-items: center; */
            }
        }
    }
}
