.home-grid-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 20vh 20vh 20vh 20vh 20vh;

    div {
        position: relative;
        img.painting {
            position: absolute;
            top: 70%;
            left: 32%;
            @include mq(0, 512px) {
                left: 20%;
            }
        }
        img.bio {
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translateY(-50%);
            &:hover {
                opacity: 50%;
            }
            @include mq(0, 512px) {
                height: 30px;
            }
        }
        img.exhibitions {
            position: absolute;
            right: 35%;
            @include mq(0, 512px) {
                height: 98px;
                right: 15%;
            }
        }
        img.ceramics {
            fill: red;
            position: absolute;
            top: 50%;
            left: 33%;
            transform: translateY(-50%);
            @include mq(0, 512px) {
                height: 190px;
                left: 5%;
                top: 30%;
            }
        }
    }
    .footer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            font-size: 18px;
            i {
                cursor: pointer;
            }
        }
        input {
            border: none;
            background:none;
            cursor: pointer;
        }
    }
}
